* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
/* ---------------------task_1----------------- */
.div-one-task {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-one-task button {
  width: 150px;
  height: 50px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}



/* ------------------------------task_2------------------------- */

#datetime-picker {
  padding: 5px;
  font-size: 16px;
}

button[data-start] {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
}

.timer {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-top: 20px;
}

.field {
  text-align: center;
}

.value {
  font-size: 44px;
}

.label {
  font-size: 14px;
  display: block;
  margin-top: 3px;
}